.loading-waves {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 40px; }
.loading-waves__wave {
  display: inline-block;
  width: 5px;
  height: 40px;
  background-color: black;
  border-radius: 8px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  margin-left: 10px; }
.loading-waves__wave:nth-child(1) {
  -webkit-animation: loading-waves 0.7s infinite linear;
  animation: loading-waves 0.7s infinite linear;
  -webkit-animation-delay: 0.14s;
  animation-delay: 0.14s; }
.loading-waves__wave:nth-child(2) {
  -webkit-animation: loading-waves 0.7s infinite linear;
  animation: loading-waves 0.7s infinite linear;
  -webkit-animation-delay: 0.28s;
  animation-delay: 0.28s; }
.loading-waves__wave:nth-child(3) {
  -webkit-animation: loading-waves 0.7s infinite linear;
  animation: loading-waves 0.7s infinite linear;
  -webkit-animation-delay: 0.42s;
  animation-delay: 0.42s; }
.loading-waves__wave:nth-child(4) {
  -webkit-animation: loading-waves 0.7s infinite linear;
  animation: loading-waves 0.7s infinite linear;
  -webkit-animation-delay: 0.56s;
  animation-delay: 0.56s; }
.loading-waves__wave:nth-child(5) {
  -webkit-animation: loading-waves 0.7s infinite linear;
  animation: loading-waves 0.7s infinite linear;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s; }
.loading-waves__wave:first-child {
  margin-left: 0; }

@-webkit-keyframes loading-waves {
  0% {
    height: 40px; }
  50% {
    height: 8px; }
  100% {
    height: 40px; } }

@keyframes loading-waves {
  0% {
    height: 40px; }
  50% {
    height: 8px; }
  100% {
    height: 40px; } }

.loading-square-waves {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
.loading-square-waves__square {
  width: 20px;
  height: 20px;
  background-color: black;
  -webkit-animation: "loading-square-waves-loadanim" 0.7s infinite;
  animation: "loading-square-waves-loadanim" 0.7s infinite; }
.loading-square-waves__square:nth-child(1) {
  -webkit-animation-delay: 0.05833s;
  animation-delay: 0.05833s; }
.loading-square-waves__square:nth-child(2) {
  -webkit-animation-delay: 0.11667s;
  animation-delay: 0.11667s; }
.loading-square-waves__square:nth-child(3) {
  -webkit-animation-delay: 0.175s;
  animation-delay: 0.175s; }
.loading-square-waves__square:nth-child(4) {
  -webkit-animation-delay: 0.23333s;
  animation-delay: 0.23333s; }
.loading-square-waves__square:nth-child(5) {
  -webkit-animation-delay: 0.29167s;
  animation-delay: 0.29167s; }
.loading-square-waves__square:not(:first-child) {
  margin-left: 20px; }

@-webkit-keyframes loading-square-waves-loadanim {
  0%,
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1; }
  50% {
    -webkit-transform: translate(0, -15px);
    transform: translate(0, -15px);
    opacity: 0.5; } }

/* Time it takes to animate the dots 2 full rounds (speed ups and slow downs are calculated) */
/* Delay between every 2 full rotations */
/* Delay in when the animation starts between every dot in seconds */
.loading-dots {
    position: relative;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
}

.loading-dots__dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  background-color: $green;
  -webkit-transform: rotate(-90deg) translateX(-50px);
  transform: rotate(-90deg) translateX(-50px);
  -webkit-animation: loading-dots 3.7s infinite linear;
  animation: loading-dots 3.7s infinite linear;
  /*, opac 1s infinite linear;*/ }
.loading-dots__dot:nth-child(1) {
  -webkit-animation-delay: -0.12s;
  animation-delay: -0.12s; }
.loading-dots__dot:nth-child(2) {
  -webkit-animation-delay: -0.24s;
  animation-delay: -0.24s; }
.loading-dots__dot:nth-child(3) {
  -webkit-animation-delay: -0.36s;
  animation-delay: -0.36s; }
.loading-dots__dot:nth-child(4) {
  -webkit-animation-delay: -0.48s;
  animation-delay: -0.48s; }
.loading-dots__dot:nth-child(5) {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }
.loading-dots__dot:nth-child(6) {
  -webkit-animation-delay: -0.72s;
  animation-delay: -0.72s; }

@-webkit-keyframes loading-dots {
  0% {
    -webkit-transform: rotate(-90deg) translateX(-40px);
    transform: rotate(-90deg) translateX(-40px);
    opacity: 1; }
  3.37838% {
    -webkit-transform: rotate(0deg) translateX(-40px);
    transform: rotate(0deg) translateX(-40px); }
  30.40541% {
    -webkit-transform: rotate(180deg) translateX(-40px);
    transform: rotate(180deg) translateX(-40px); }
  37.16216% {
    -webkit-transform: rotate(360deg) translateX(-40px);
    transform: rotate(360deg) translateX(-40px); }
  64.18919% {
    -webkit-transform: rotate(540deg) translateX(-40px);
    transform: rotate(540deg) translateX(-40px); }
  67.56657% {
    opacity: 1; }
  67.56757% {
    -webkit-transform: rotate(630deg) translateX(-40px);
    transform: rotate(630deg) translateX(-40px);
    opacity: 0; }
  100% {
    -webkit-transform: rotate(630deg) translateX(-40px);
    transform: rotate(630deg) translateX(-40px);
    opacity: 0; } }

@keyframes loading-dots {
  0% {
    -webkit-transform: rotate(-90deg) translateX(-40px);
    transform: rotate(-90deg) translateX(-40px);
    opacity: 1; }
  3.37838% {
    -webkit-transform: rotate(0deg) translateX(-40px);
    transform: rotate(0deg) translateX(-40px); }
  30.40541% {
    -webkit-transform: rotate(180deg) translateX(-40px);
    transform: rotate(180deg) translateX(-40px); }
  37.16216% {
    -webkit-transform: rotate(360deg) translateX(-40px);
    transform: rotate(360deg) translateX(-40px); }
  64.18919% {
    -webkit-transform: rotate(540deg) translateX(-40px);
    transform: rotate(540deg) translateX(-40px); }
  67.56657% {
    opacity: 1; }
  67.56757% {
    -webkit-transform: rotate(630deg) translateX(-40px);
    transform: rotate(630deg) translateX(-40px);
    opacity: 0; }
  100% {
    -webkit-transform: rotate(630deg) translateX(-40px);
    transform: rotate(630deg) translateX(-40px);
    opacity: 0; } }

.loader-horizontal-dots {
  position: relative;
  width: 100%;
  height: 10px; }
.loader-horizontal-dots__dot {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 100%; }
.loader-horizontal-dots__dot:nth-child(1):before {
  content: '';
  position: absolute;
  background-color: red;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  -webkit-animation: loader-horizontal-dots-loadanim 1.5s cubic-bezier(0.15, 0.71, 0.74, 0.34) infinite;
  animation: loader-horizontal-dots-loadanim 1.5s cubic-bezier(0.15, 0.71, 0.74, 0.34) infinite;
  -webkit-animation-delay: -0.075s;
  animation-delay: -0.075s; }
.loader-horizontal-dots__dot:nth-child(2):before {
  content: '';
  position: absolute;
  background-color: red;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  -webkit-animation: loader-horizontal-dots-loadanim 1.5s cubic-bezier(0.15, 0.71, 0.74, 0.34) infinite;
  animation: loader-horizontal-dots-loadanim 1.5s cubic-bezier(0.15, 0.71, 0.74, 0.34) infinite;
  -webkit-animation-delay: -0.15s;
  animation-delay: -0.15s; }
.loader-horizontal-dots__dot:nth-child(3):before {
  content: '';
  position: absolute;
  background-color: red;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  -webkit-animation: loader-horizontal-dots-loadanim 1.5s cubic-bezier(0.15, 0.71, 0.74, 0.34) infinite;
  animation: loader-horizontal-dots-loadanim 1.5s cubic-bezier(0.15, 0.71, 0.74, 0.34) infinite;
  -webkit-animation-delay: -0.225s;
  animation-delay: -0.225s; }
.loader-horizontal-dots__dot:nth-child(4):before {
  content: '';
  position: absolute;
  background-color: red;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  -webkit-animation: loader-horizontal-dots-loadanim 1.5s cubic-bezier(0.15, 0.71, 0.74, 0.34) infinite;
  animation: loader-horizontal-dots-loadanim 1.5s cubic-bezier(0.15, 0.71, 0.74, 0.34) infinite;
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }
.loader-horizontal-dots__dot:nth-child(5):before {
  content: '';
  position: absolute;
  background-color: red;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  -webkit-animation: loader-horizontal-dots-loadanim 1.5s cubic-bezier(0.15, 0.71, 0.74, 0.34) infinite;
  animation: loader-horizontal-dots-loadanim 1.5s cubic-bezier(0.15, 0.71, 0.74, 0.34) infinite;
  -webkit-animation-delay: -0.375s;
  animation-delay: -0.375s; }

@-webkit-keyframes loader-horizontal-dots-loadanim {
  0%,
  10%,
  90%,
  100% {
    opacity: 0; }
  30%,
  70% {
    opacity: 1; }
  0%,
  10% {
    left: 0; }
  90%,
  100% {
    left: 100%; } }

@keyframes loader-horizontal-dots-loadanim {
  0%,
  10%,
  90%,
  100% {
    opacity: 0; }
  30%,
  70% {
    opacity: 1; }
  0%,
  10% {
    left: 0; }
  90%,
  100% {
    left: 100%; } }

/*
Spinner (2 halves)
*/
.loading-spinner {
  position: relative;
  width: 90px;
  height: 90px; }
.loading-spinner:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 90px;
  border-radius: 90px;
  border-bottom: black 2px solid;
  border-top: transparent 2px solid;
  border-left: black 2px solid;
  border-right: transparent 2px solid;
  padding: none;
  -webkit-animation: loading-spinner-spinanim 1.5s infinite linear;
  animation: loading-spinner-spinanim 1.5s infinite linear;
  animation-direction: reverse; }
.loading-spinner:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border-radius: 90px;
  border-bottom: black 2px solid;
  border-top: transparent 2px solid;
  border-left: transparent 2px solid;
  border-right: black 2px solid;
  margin-left: 15px;
  margin-top: 15px;
  -webkit-animation: loading-spinner-spinanim 1.5s infinite linear;
  animation: loading-spinner-spinanim 1.5s infinite linear;
  -webkit-animation-direction: normal;
  animation-direction: normal; }

@-webkit-keyframes loading-spinner-spinanim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes loading-spinner-spinanim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
.loader-wrap {
    position: absolute;
    top: 20px;
    bottom: 0;
    right: 0;
    left: 0;
    &.none {
        display: none;
    }
}
